@import "tailwindcss";

@font-face {
  font-family: 'BoldPixel';
  src: url('/fonts/boldpixels.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-pixel: "BoldPixel", sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de desplazamiento molestas */
}